<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Student Management System</title>
</head>
<body>
    <h1>Student Management System</h1>
    <hr>
    <h2>Student Registration</h2>
    <form method="POST">
        {% csrf_token %}
        <p>
            Name <br>
            <input type="text" name="name">
        </p>
        <p>
            Age <br>
            <input type="number" name="age">
        </p>
        <p>
            Email <br>
            <input type="email" name="email">
        </p>
        <p>
            Course <br>
            <input type="text" name="course">
        </p>
        <p>
            City <br>
            <input type="text" name="city">
        </p>
        <p>
            Fees <br>
            <input type="number" step="0.01" name="fees">
        </p>
        <button type="submit">Register Student</button>
    </form>
    <hr>
    <h2>Students List</h2>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Email</th>
            <th>Course</th>
            <th>City</th>
            <th>Fees</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        {% for student in students %}
        <tr>
            <td>{{ student.name }}</td>
            <td>{{ student.age }}</td>
            <td>{{ student.email }}</td>
            <td>{{ student.course }}</td>
            <td>{{ student.city }}</td>
            <td>{{ student.fees }}</td>
            <td>
                <a href="/update/{{ student.id }}/">
                    Update
                </a>
            </td>
            <td>
                 <a href="/delete/{{ student.id }}/">
                      Delete
                 </a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="7">
                No Students Found
            </td>
        </tr>

        {% endfor %}

    </table>

</body>
</html>